<% require 'email_munger' %>
<% provide(:title, "User: #{@user.first_name} #{@user.last_name}") %>

<div class="row">
  <section class="user_info">
    <h1>
    User: <%= @user.first_name %> <%= @user.last_name %>
    </h1>
    Username: <%= @user.username %>
    <br>
    Email: <%= raw(EmailMunger.encode(@user.email)) %>
    <br>
    <% if @user.provider == 'facebook' %>
      OmniAuth Service Provider: Facebook<br>
    <% elsif @user.provider == 'github' %>
      OmniAuth Service Provider: GitHub<br>
    <% elsif @user.provider == 'google_oauth2' %>
      OmniAuth Service Provider: Google<br>
    <% end %>
    <% # BEGIN: delete button %>
    <% if admin_signed_in? %>
      <%= link_to "Delete #{@user.first_name} #{@user.last_name} (#{@user.username})", @user,
        class: "btn btn-primary", method: :delete,
        data: { confirm: "Are you sure you wish to delete #{@user.first_name} #{@user.last_name}?" } %>
    <% end %>
    <% # END: delete button %>
  </section>
</div>
